.container {
  background-image: url('https://37.media.tumblr.com/tumblr_mbha9qWF401qcixnko4_500.gif');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.max-height {
  margin-top: 30px;
  width: 100%;
}

.touchable {
  pointer-events: painted;
}

.wrapper {
  display: flex;
  width: 505px;
  height: 500px;
  flex-wrap: wrap;
  flex-direction: row
}

.section {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 200px;
  margin: 20px;
  background-color: #F0121D;
  border: 1px solid white;
}

.section__title {
  font-family: 'Marvel';
  font-size: 80px;
  color: white;
  margin: 0;
}

.section__title--small {
  font-size: 55px;
}